.navbar {
    background-color:#9a1a1a;
}

.navbar span:hover {
    color: #ffffff;
    text-decoration: none;  
}

.navbar .navbar-brand {
    font-family: Impact;
    color: #ffffff;
    text-decoration: none;
    font-size: 48px;
    cursor: pointer;
    user-select: none;
}

.navbar-toggler {
    border-color: #ffffff;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem #ffffff80;
}

.navbar-nav .btn {
    color: #ffffff;
    font-size: 32px;
    font-family: Impact;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.navbar-nav a:hover {
    color: #9a1a1a;
    text-decoration: none;
}

.navbar-nav .btn:active {
    color: #ffffff;
    text-decoration: none;
}

.navbar .flag {
    width: 85px;
    height: 85px;
    padding-left: 10px;
    user-select: none;
}

.table {
    font-size: 24px;
}

#title:hover {
    cursor: pointer;
}

.hover-pointer {
   cursor: pointer;
}