nav {
    font-family: Impact;
    font-size: 48px;
    color: white;
    background-color:rgb(154, 26, 26)
}

nav a {
    color: white;
    text-decoration: none;
}

nav .btn {
    background-color: rgb(154, 26, 26);
    color: white;
    padding-left: 100px;
    font-size: 48px;
    border: none;
}

nav .flag {
    width: 80px;
    height: 80px;
    padding-left: 10px;
}