.navbar {   /* Navbar background colour */
    background-color:#9a1a1a;
}

.navbar-toggler { /* Navbar hamburger button border */
    border-color: #ffffff;
}

.navbar-toggler:focus { /* Navbar hamburger button border when clicked */
    box-shadow: 0 0 0 0.25rem #ffffff80;
}

.navbar-btn { /*Navbar home/standings/schedule buttons formatting*/
    font-size: 1.75rem;
    font-family: 'Anton', sans-serif;
    margin-right: 0.625rem;
    margin-bottom: 0.3125rem;
    margin-top: 0.3125rem;
    border: none;
}

.navbar-btn:hover { /*Navbar home/standings/schedule buttons hover colour*/
    color: #9a1a1a;
}

.navbar .navbar-btn:active { /*Navbar home/standings/schedule buttons colour when being clicked*/
    color: #ffffff;
}

.navbar-flag { /*Navbar flag formatting*/
    width: 3.8rem;
    height: 3.8rem;
    padding-right: 0.625rem;
    user-select: none;
}

.page-btn { /*Main button formatting*/
    background-color: #9a1a1a;
    color: white;
    font-size: 1.25rem;
    border: 0.125rem solid ;
    border-radius: 0.3125rem;
}

.page-btn:hover { /*Invert main button colours when hovering*/
    background-color: white;
    color: #9a1a1a;
    border: 0.125rem solid ;
    border-radius: 0.3125rem;
}

h1 { /*Main header formatting*/
    font-family: 'Anton', sans-serif;
}

.home-img { /*Home page image padding*/
    padding-top: 1.5rem;
}

.table { /*Standings table font size*/
    font-size: 1.2rem;
}

.table th { /*Standings table header font size*/
    font-family: 'Anton', sans-serif;
}

.vote-img { /*Cursor on team images for voting*/
    cursor: pointer;
}

.progress-bar-left { /*Away side of votes bar colour*/
    background-color: #9a1a1a;
}

.progress-bar-right { /*Home side of votes bar colour*/
    background-color: #1f1fa2;
}

.odds-display { /*Odds display box formatting*/
    display: inline-block;
    padding: 0.625rem 1.5rem;
    background-color: white;
    border: 0.125rem solid ;
    border-radius: 0.3125rem;
    color: #9a1a1a;
    font-weight: bold;
    text-align: center;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
}

.odds-display:hover { /*Invert colours when hovering over odds display box*/
    background-color: #9a1a1a;
    color: white;
}

.odds-display.invert { /*Invert colours when a vote is made*/
    background-color: #9a1a1a;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.fantasy-header { /*Fantasy match header formatting*/
    font-weight: bold;
    color: #9a1a1a;
}