.navbar {
    background-color:#9a1a1a;
}

.navbar a:hover {
    color: #ffffff;
    text-decoration: none;  
}

.navbar .navbar-brand {
    font-family: Impact;
    color: #ffffff;
    text-decoration: none;
    font-size: 48px;
}

nav .flag {
    width: 80px;
    height: 80px;
    padding-left: 10px;
}